.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 60vh;
}

.form2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 15vh;
}

.wizard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  padding: 4%;
  margin-bottom: 2%;
  border-bottom: 1px solid rgba(56, 0, 75, 0.61);
}
